body {
    color: #1613c0;
    font-family: serif;
    max-width: 650px;
    margin: 0 auto;
    background-color: palegreen;
}
footer {
    color: #1275d1;
    border-top: 1px solid #333333;
    margin-top: 300px;
    padding: 5px 0;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: rgb(67, 55, 241);
    margin-right: 24px;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    margin-bottom: 16px;
}

.portrait {
    width: 400px;
}